# Node.js dependencies
node_modules/

# Python virtualenv
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and system files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db

.claude\
